aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
altgraph==0.17.4
attrs==23.2.0
cdifflib==1.2.6
dotmap==1.3.30
frozenlist==1.4.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
lazy_loader==0.4
multidict==6.0.5
networkx==3.3
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
psutil==6.0.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pywin32-ctypes==0.2.2
scikit-image==0.24.0
scipy==1.14.0
setuptools==72.1.0
tesserocr @ https://github.com/simonflueckiger/tesserocr-windows_build/releases/download/tesserocr-v2.7.0-tesseract-5.3.4/tesserocr-2.7.0-cp312-cp312-win_amd64.whl#sha256=93341971973e1bcf3ab1aa57f083b7298d77af1e3426a78bfd41a35abf22523c
tifffile==2024.7.24
yarl==1.9.4
